 /* .container {
  margin-bottom: 14rem;
  position: relative;
  z-index: 2;
} */

 .main {
   margin-top: 2.5rem
     /* 40px */
   ;
   margin-left: auto;
   margin-right: auto;
   max-width: 72rem
     /* 1152px */
   ;
   padding-left: 1rem
     /* 16px */
   ;
   padding-right: 1rem
     /* 16px */
   ;
 }

 .heroImage {
   position: absolute;
   top: 0px;
   z-index: 0;
 }

 .heading2 {
   color: rgba(245, 245, 245, 0.9);
   font-size: 2.25rem;
   line-height: 2.5rem;
   padding-bottom: 2rem;
   margin-top: 2rem;
   z-index: 3;
 }

 .cardLayout {
   display: flex;
   flex-wrap: wrap;
   column-gap: 1.5rem;
   row-gap: 1.5rem;
   justify-content: auto;
 }

 .card {
   justify-content: center;
 }

 /** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

 @media (min-width: 640px) {
   .container {
     padding-left: 1rem
       /* 16px */
     ;
     padding-right: 1rem
       /* 16px */
     ;
   }

   .main {
     margin-top: 3rem
       /* 48px */
     ;
     padding-left: 1.5rem
       /* 24px */
     ;
     padding-right: 1.5rem
       /* 24px */
     ;
   }
 }

 .cardLayout {
   flex-wrap: wrap;
 }



 @media (min-width: 768px) {
   .container {
     padding-left: 2.5rem
       /* 40px */
     ;
     padding-right: 2.5rem
       /* 40px */
     ;
   }

   .main {
     margin-top: 4rem
       /* 64px */
     ;
   }
 }


 .heroImage {
   padding-left: 400px;
   right: 20%;
 }

 .cardLayout {
   grid-template-columns: repeat(2, minmax(0, 1fr));
 }

 @media (min-width: 1024px) {
   .container {
     padding-left: 2.5rem
       /* 40px */
     ;
     padding-right: 2.5rem
       /* 40px */
     ;
   }

   .main {
     margin-top: 5rem
       /* 80px */
     ;
     padding-left: 2rem
       /* 32px */
     ;
     padding-right: 2rem
       /* 32px */
     ;
   }
 }

 .heroImage {
   right: 20%;
 }

 .cardLayout {
   grid-template-columns: repeat(3, minmax(0, 1fr));
 }